@{
    ViewData["Title"] = "Edit";
    var form = ViewData["form"];
    var script = ViewData["script"];
}

<h2>Edit</h2>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-sm-6">
        @Html.Raw(form)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(function () {
        $('#tree').nestable([]);
        @Html.Raw(script)
    })
</script>
