@model MvcMovie.Models.Menu

@{
    ViewData["Title"] = "Index";
    var menuList = ViewData["menuList"];
    var form = ViewData["form"];
    var script = ViewData["script"];
    var nestableScript = ViewData["nestableScript"];

}

<div class="row">
    <div class="col-sm-6">
        @Html.Raw(menuList)
    </div>

    <div class="col-sm-6">
        @Html.Raw(form)
    </div>
</div>


<script>
    $(function () {
        $('#tree').nestable([]);
        @Html.Raw(nestableScript)
        @Html.Raw(script)

        $('.tree_branch_delete').click(function(){
            var id = $(this).data('id');
            if(confirm("确定要删除这个菜单项吗？")){
                location.href="/Menus/Delete?pajx=id="+id;
            }
        });
    })
</script>