@model MvcMovie.Models.Role

@{
    ViewData["Title"] = "Create";
    var formHtml = ViewData["form"];
    var script = ViewData["script"];
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        @Html.Raw(formHtml)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>

    $(function () {

        @Html.Raw(script)
    });
</script>
