@model MvcMovie.Models.Permission
@using BootstrapFormHelper
@{
    ViewData["Title"] = "Create";
    Form form = @ViewData["form"] as Form;
    var formHtml = form.GetContent();
    var script = form.GetScript();
}

<h2>Create</h2>

<h4>Permission</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        @Html.Raw(formHtml)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(function () {
        @Html.Raw(script)
    });
</script>

